<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Horse Rases</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/reset.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/main.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/superfish.css")" />
    <!--[if IE]><link rel="stylesheet" type="text/css" media="screen,projection" href="@Url.Content("~/Content/ie6.css")" /><![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/calend.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/superfish.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/script.js")"></script>
</head>
<body>
    <div class="ambitios_main" id="options-examples">

        <!-- Header -->

        <div class="ambitios_header_tile_left"></div>
        <div class="ambitios_header_tile_right"></div>
        <div class="ambitios_header">

            <div class="ambitios_head">

                <!-- logo -->
                <a href="@Url.Content("~")" class="ambitios_logo"><img src="@Url.Content("~/Images/logo1.png")" alt="" /> </a>
                <!-- EOF logo -->
                <!-- menu -->

                <ul class="ambitios_menu">
                    <li>
                        <a href="@Url.Content("~")"
                           class="@((ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString()).ToLower() == "articleindex" ? "ambitios_active" : "")">
                            <span><span>Главная</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Article/About")"
                           class="@((ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString()).ToLower() == "articleabout" ? "ambitios_active" : "")">
                            <span><span>Технологии</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Race")"
                           class="@((ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString()).ToLower() == "raceindex" ? "ambitios_active" : "")">
                            <span><span>Скачки</span></span>
                        </a>
                        @if (HttpContext.Current.Session["login"] != null && HttpContext.Current.Session["groupid"].ToString() == "1")
                        {
                            <ul>
                                <li><a href="@Url.Content("~/Race/Add")">Добавить забег</a></li>
                            </ul>
                        }
                    </li>
                    <li>
                        <a href="@Url.Content("~/Article/Contacts")"
                           class="@((ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString()).ToLower() == "articlecontacts" ? "ambitios_active" : "")">
                            <span><span>Контакты</span></span>
                        </a>
                    </li>
                    @if (HttpContext.Current.Session["login"] != null)
                    {
                        if (HttpContext.Current.Session["groupid"].ToString() == "1")
                        {
                            <li>
                                <a href="@Url.Content("~/Register")"
                                   class="@((ViewContext.RouteData.Values["Controller"].ToString() + ViewContext.RouteData.Values["Action"].ToString()).ToLower() == "registerindex" ? "ambitios_active" : "")">
                                    <span><span>Добавить админа</span></span>
                                </a>
                            </li>
                        }
                            
                        <li>
                            <a href="#"><span><span>Мой профиль</span></span></a>
                            <ul>
                                <li><a href="@Url.Content("~/Register/Edit")">Изменить данные</a></li>
                                <li><a href="@Url.Content("~/Register/Change")">Изменить пароль</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Content("~/Register/Logout")"><span><span>Выход</span></span></a></li>
                    }
                </ul>

                <!-- EOF menu -->

            </div>

        </div>

        <div class="ambitios_rows_sub_t">
            <div class="ambitios_rows_sub_all">
                <div class="ambitios_container_16">
                    <div class="ambitios_wrapper">
                        @if (HttpContext.Current.Session["login"] == null)
                        {

                            using (Html.BeginForm("check", "register", null,
                               FormMethod.Post,
                               new { id = "login" }))
                            {
                                <div class="account">
                                    <div class="ambitios_login">
                                        <label for="login">Логин:</label>
                                        @Html.TextBox("login", null, new { @class = "ambitios_input" })
                                    </div>
                                    <div class="ambitios_password">
                                        <label for="password">Пароль:</label>
                                        @Html.Password("password", null, new { @class = "ambitios_input" })
                                    </div>
                                    <div class="ambitios_submit">
                                        <input type="submit" class="submit_button" value="Войти" />
                                    </div>
                                    <div class="cb"></div>
                                    <div class="errorlogin">
                                        &nbsp;
                                        @if (ViewBag.AuthorizationError != null)
                                        {
                                            <span id="loginError">Не верный логин или пароль</span>
                                        }
                                    </div>
                                    <div class="register">
                                        <a href="@Url.Content("~/Register")">Регистрация</a>
                                    </div>
                                    <div class="forget">
                                        <a href="@Url.Content("~/Register/Forget")">Забыли пароль</a>
                                    </div>
                                    <div class="cb"></div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="ambitios_grid_7 ambitios_alpha">
                                <h1 class="ambitios_uppercase user">Привет, @HttpContext.Current.Session["login"].ToString() </h1>
                            </div>
                            <div class="cb"></div>
                            <div>Вы вошли как @HttpContext.Current.Session["group"].ToString()</div>
                        }

                    </div>

                </div>
            </div>
        </div>

        <!-- EOF Header -->
        <!-- Content -->
        <div class="ambitios_content">
            <div class="ambitios_container_16">
                <div class="ambitios_wrapper">
                    <div class="ambitios_grid_11 ambitios_alpha">
                        <div>
                            @RenderBody()
                        </div>
                    </div>
                    <div class="ambitios_grid_5 ambitios_omega">
                        <div class="ambitios_indent">
                            <h3 class="ambitios_uppercase">Другие участники скачек</h3>
                        </div>
                        <ul class="ambitios_link_list ambitios_p2">
                            <li><a href="#">Жокей - наездник</a></li>
                            <li><a href="#">Тренер </a></li>
                            <li><a href="#">Стартер </a></li>
                        </ul>
                        <div class="ambitios_title">
                            <div class="ambitios_title_left">
                                <div class="ambitios_title_right">
                                    <div class="ambitios_title_shape ambitios_2rows">
                                        про все виды скачек на лошадях
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ambitios_txt_block ambitios_height">
                            <div class="ambitios_wrapper ambitios_p2">
                                <span class="ambitios_picture ambitios_fleft">
                                    <img src="@Url.Content("~/Images/trener.jpg")" alt="" />
                                </span>
                            </div>
                            <p class="center">По вашему техническому заданию мы можем разработать и передать технологию нанесения покрытий с изготовлением оборудования. </p>
                        </div>
                        <div class="ambitios_indent">
                            <div class="ambitios_comments">
                                <p id="calendp"></p>
                                <table id="calend"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- EOF Content -->
        <!-- Row top -->

        <div class="ambitios_row_top">

            <div class="ambitios_container_16" id="toc"> <a href="#top" id="top-link">to top</a> </div>

        </div>

        <!-- EOF Row top -->
        <!-- Row second -->
        <div class="ambitios_row2_bg_g">
            <div class="ambitios_row2_bg_g_left"></div>
            <div class="ambitios_row2_bg_g_right"></div>
            <div class="ambitios_row2_bg">
                <div class="ambitios_container_16">
                    <div class="ambitios_wrapper">
                        <div class="ambitios_left">
                            <!-- footer_widget -->
                            <div class="ambitios_footer_widget"> Additional </div>
                            <!-- EOF footer_widget -->
                        </div>
                        <div class="ambitios_right">
                            <!-- footer_widge text -->
                            <div class="ambitios_text"> This is something your client can't miss. You can add text images, tweets or news here. But of course you can hide this area, If you want, and make footer smaller. Lorem ipsum dolor sit amet, consectetur adipi- scing elit. Vivamus condimentum, massa eu accumsan pellentesque, felis metus imperdiet est, aliquam </div>
                            <!-- EOF footer_widget text -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- EOF Row second -->
        <!-- EOF footer text --> <!-- Footer -->
        <div class="ambitios_footer_tile_g_left"></div>
        <div class="ambitios_footer_tile_g_right"></div>
        <div class="ambitios_footer">
            <div class="ambitios_container_16">
                <div class="ambitios_copy"> &copy; 2016 Makas Andrei. All rights reserved. </div>
            </div>
        </div>
        <!-- EOF Footer -->

    </div>
    <script type="text/javascript">
        mycalendar();
    </script>

</body>
</html>
